# 01.Importing libraries

In [64]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Data types

### Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables.

In [70]:
x = 50
y = 50
x + y

100

In [72]:
x = 150
y = 50
x - y

100

In [74]:
x = 50
y = 2
x * y

100

### Code 2 floating-point variables and divide them by each other.

In [76]:
x = 5.50
y = 2.5
x

2.2

### Construct a short word made of separate strings (youâ€™ll need to concatenate some strings!).

In [90]:
a = 'Ben '
b = 'Stiller '
a + b

'Ben Stiller '

### Construct 2 short sentences made of separate strings.

In [92]:
a = 'I '
b = 'love '
c = 'coding'
a + b + c

'I love coding'

In [98]:
a = 'Ice cream '
b = 'is '
c = 'amazing.'
a + b + c

'Ice cream is amazing.'

### Bonus

In [102]:
a = 'i'
a * 100

'iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii'

# I'm not sure why I am getting this error

In [104]:
x = 4
y = 6
type(x==y)

TypeError: 'str' object is not callable

In [108]:
type(True)

TypeError: 'str' object is not callable