In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Path assignment
path = r'C:\Users\nodnarb\Documents\IC Basket Analysis'

### Importing data

In [4]:
# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
# Import departments.csv
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [6]:
# Import orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

### Wrangling order.csv

In [8]:
# Rename order_dow to orders_day_of_week
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [9]:
# Set order_id to string
df_ords['order_id'] = df_ords['order_id'].astype('str')

### Wrangling departments.csv

In [11]:
# Transposing
df_dep_t = df_dep.T

In [12]:
# Indexing
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [13]:
# Setting new header
new_header = df_dep_t.iloc[0]

In [14]:
new_header

0    department
Name: department_id, dtype: object

In [15]:
# Selecting new rows 
df_dep_t_new = df_dep_t[1:]

In [16]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [17]:
# Adding new header
df_dep_t_new.columns = new_header

In [18]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [19]:
# Creating data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [20]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [21]:
# Creating df for only snacks
df_snacks =  df_prods[df_prods['department_id']==19]

### Task Questions

### Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.

In [24]:
df_ords['user_id'] = df_ords['user_id'].astype('str')

### Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.

In [26]:
df_ords.rename(columns = {'order_hour_of_day' : 'order_time'}, inplace = True)

### Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings. Ans. = 10 am

In [28]:
df_ords['order_time'].value_counts(dropna = False)

order_time
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

### Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

In [30]:
print(data_dict.get('4'))

{'department': 'produce'}

### The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.

In [32]:
df_breakfast = df_prods.loc[df_prods['department_id'].isin([14])]

In [33]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

### They’d also like to see details about products that customers might use to throw dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.

In [35]:
df_dinner_party = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

### It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have? Ans. = 7650

In [37]:
df_dinner_party.shape

(7650, 5)

### Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.

In [39]:
df_user1 = df_ords.loc[df_ords['user_id'].isin(['1'])]

### You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?

In [41]:
df_user1.describe()

       order_number  orders_day_of_week  order_time  days_since_prior_order
count     11.000000           11.000000   11.000000               10.000000
mean       6.000000            2.636364   10.090909               19.000000
std        3.316625            1.286291    3.477198                9.030811
min        1.000000            1.000000    7.000000                0.000000
25%        3.500000            1.500000    7.500000               14.250000
50%        6.000000            3.000000    8.000000               19.500000
75%        8.500000            4.000000   13.000000               26.250000
max       11.000000            4.000000   16.000000               30.000000

### Exporting data

In [ ]:
# Export df_ords dataframe
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [ ]:
# Export df_dep_t_new dataframe
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))