In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

### Importing data

In [3]:
# Path assignment
path = r'C:\Users\nodnarb\Documents\IC Basket Analysis'

In [4]:
# Importing orders products merge pickle
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [5]:
# Creating subset
df = ords_prods_merge[:1000000]
df.shape

(1000000, 14)

### Deriving new variables

In [7]:
# Define a function

def price_label(row):

    if row['prices'] <= 5:
        return 'Low range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid range product'
    elif row['prices'] > 15:
        return 'High range product'
    else: return 'Not enough data'

In [8]:
# Applying a function

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\nodnarb\AppData\Local\Temp\ipykernel_22328\3566678498.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

price_range
Mid range product     673183
Low range product     314392
High range product     12425
Name: count, dtype: int64

In [10]:
# Max price 

df['prices'].max()

99999.0

In [11]:
df.describe()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.712098e+06,3295.070459,17.313612,2.765702,13.416690,10.358285,25595.891283,8.312942,0.590985,71.058417,9.984846,11.396794
std,9.870102e+05,1866.882221,17.931306,2.091348,4.221497,8.944049,14077.246950,7.208310,0.491652,38.228388,6.294836,425.994349
min,8.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,8.620670e+05,1699.000000,5.000000,1.000000,10.000000,4.000000,13536.000000,3.000000,0.000000,31.000000,4.000000,4.200000
50%,1.711365e+06,3350.000000,11.000000,3.000000,13.000000,7.000000,25340.000000,6.000000,1.000000,83.000000,9.000000,7.400000
75%,2.563843e+06,4937.000000,24.000000,5.000000,16.000000,14.000000,37825.000000,11.000000,1.000000,107.000000,16.000000,11.300000
max,3.420853e+06,6474.000000,99.000000,6.000000,23.000000,30.000000,49687.000000,95.000000,1.000000,134.000000,21.000000,99999.000000

In [12]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid range product
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range product
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low range product
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low range product
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range product

In [13]:
# Locate function for subset

In [14]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\nodnarb\AppData\Local\Temp\ipykernel_22328\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df.loc[df['prices'] <=5, 'price_range_loc'] = 'Low-range product'

In [17]:
# Locate function for ords_prods_merge

In [18]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [20]:
ords_prods_merge.loc[ords_prods_merge['prices'] <=5, 'price_range_loc'] = 'Low-range product'

### If statements for loop

In [22]:
# Value counts 
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [23]:
# Creating list of busiest and slowest days

result = []

for value in ords_prods_merge["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else: 
        result.append("Regularly busy")

In [24]:
print(result)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [25]:
# Applying for loop function to ords prods merge

In [26]:
ords_prods_merge['busiest_day'] = result

In [27]:
ords_prods_merge['busiest_day'].value_counts (dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## Task

### Questions 2 & 3

In [30]:
# Two busiest days

ords_prods_merge.loc[ords_prods_merge['orders_day_of_week'].isin ([0,1]), 'busiest_day'] = 'Busiest days'

In [31]:
# Two slowest days

ords_prods_merge.loc[ords_prods_merge['orders_day_of_week'].isin([3,4]), 'busiest_day'] = 'Slowest days'

In [32]:
# Check for accuracy

ords_prods_merge['busiest_day'].value_counts (dropna = False)

busiest_day
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

##### The sum of the new list equals the sum of the previous list

### Question 4

In [35]:
# Value counts 
ords_prods_merge['order_time'].value_counts(dropna = False)

order_time
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [36]:
# Most orders

ords_prods_merge.loc[ords_prods_merge['order_time'].isin([10,11,14,15,13,12,16,9,17]), 'busiest_times'] = 'Most orders'

In [37]:
# Average orders

ords_prods_merge.loc[ords_prods_merge['order_time'].isin([8,18,19,20,7,21,22,23,6,0]), 'busiest_times'] = 'Average orders'

In [38]:
# Fewest orders

ords_prods_merge.loc[ords_prods_merge['order_time'].isin([1,5,2,4,3]), 'busiest_times'] = 'Fewest orders'

In [39]:
ords_prods_merge['busiest_times'].value_counts(dropna = False)

busiest_times
Most orders       23205725
Average orders     8821575
Fewest orders       377559
Name: count, dtype: int64

### Exporting data

In [41]:
# Accuracy check

ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_times
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average orders
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average orders
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average orders
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average orders

In [42]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_2.pkl'))