In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Importing data

path = r'C:\Users\nodnarb\Documents\IC Basket Analysis'
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_w_flags.pkl'))

#### Wrangling customers.csv

In [4]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
customers.shape

(206209, 10)

In [6]:
# Renaming columns

customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)
customers.rename(columns = {'Surnam' : 'last_name'}, inplace = True)
customers.rename(columns = {'Gender' : 'gender'}, inplace = True)
customers.rename(columns = {'STATE' : 'state'}, inplace = True)
customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [7]:
# Descriptive statistics

customers.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [8]:
# Checking for missing values

customers.isnull().sum()

user_id             0
first_name      11259
last_name           0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [9]:
# Data types

customers.dtypes

user_id          int64
first_name      object
last_name       object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [10]:
# Changing user_id to string

customers['user_id'] = customers['user_id'].astype('str')

In [11]:
customers.dtypes

user_id         object
first_name      object
last_name       object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [12]:
# Checking for mixed data types in each column

for col in customers.columns.tolist():
    weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (customers[weird]) > 0:
        print (col)

first_name

In [13]:
# Changing First Name values to string

customers['first_name'] = customers['first_name'].astype('str')

In [14]:
# Recheck mix data types

for col in customers.columns.tolist():
    weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (customers[weird]) > 0:
        print (col)

In [15]:
# No pop up means all data is uniform

In [16]:
# Checking for missing values

customers.isnull().sum()

user_id         0
first_name      0
last_name       0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [17]:
# Checking for duplicates

customers_dup = customers[customers.duplicated()]

In [18]:
customers_dup

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

In [19]:
# No duplicates

In [20]:
# Exporting cleaned customers data

customers.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_cleaned.csv'))

#### Merging customers with main dataset

In [22]:
# Main dataset

df.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_times,max_orders,loyalty_flag,average_spending,spending_flag,median_days_of_prior_order,frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,both,Low-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [23]:
df.shape

(32404859, 23)

In [24]:
df.dtypes

order_id                         int64
user_id                          int64
order_number                     int64
orders_day_of_week               int64
order_time                       int64
days_since_prior_order         float64
product_id                       int64
add_to_cart_order                int64
reordered                        int64
product_name                    object
aisle_id                         int64
department_id                    int64
prices                         float64
_merge                        category
price_range_loc                 object
busiest_day                     object
busiest_times                   object
max_orders                       int64
loyalty_flag                    object
average_spending               float64
spending_flag                   object
median_days_of_prior_order     float64
frequency_flag                  object
dtype: object

In [25]:
# Main dataset cleanup 

df = df.drop(columns = ['_merge'])

In [26]:
# Convert main dataset user id to string type

df['user_id'] = df['user_id'].astype('str')

In [27]:
# Common variable for merge = user_id

df_customers_merge = df.merge(customers, on = ['user_id'], indicator = True)

In [28]:
df_customers_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [29]:
# Checking data types of new dataset

df_customers_merge.dtypes

order_id                         int64
user_id                         object
order_number                     int64
orders_day_of_week               int64
order_time                       int64
days_since_prior_order         float64
product_id                       int64
add_to_cart_order                int64
reordered                        int64
product_name                    object
aisle_id                         int64
department_id                    int64
prices                         float64
price_range_loc                 object
busiest_day                     object
busiest_times                   object
max_orders                       int64
loyalty_flag                    object
average_spending               float64
spending_flag                   object
median_days_of_prior_order     float64
frequency_flag                  object
first_name                      object
last_name                       object
gender                          object
state                           object
age                              int64
date_joined                     object
n_dependants                     int64
fam_status                      object
income                           int64
_merge                        category
dtype: object

In [30]:
# Checking shape 

df_customers_merge.shape

(32404859, 32)

In [31]:
# Remvoing new merge column

df_customers_merge = df_customers_merge.drop(columns = ['_merge'])

#### Exporting data

In [33]:
df_customers_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customers.pkl'))